<footer>
  <p>© copyright  2017 - <b>MultiAPI</b> </p>
</footer>
</body>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</html>
