<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MultiAPI</title>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/css/menu.css">
  <link rel="stylesheet" href="/public/css/footer.css">
  <link rel="stylesheet" href="/public/css/main.css">
  <link rel="stylesheet" href="/public/css/iziToast.min.css">
  <link href="/public/fonts/ArchitectsDaughter-Regular.ttf" rel="stylesheet">
  <script src="/public/js/functions.js"></script>

  <!-- INCLUI CSS DO PROJETO -->
  <!-- <link rel="stylesheet" type="text/css" href="/public/css/style.css" /> -->
</head>
<body>
